@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-description {
    color: #534C64;
    font-size: 20px;
}

nav {
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-gamer {
    display: flex;
    padding-left: 240px;
    gap: 10px;
    align-items: center;
}

#logo {
    width: 86.041px;
    height: 40px;
}

.title {
    color: #0B0223;
    font-size: 45px;

}

.color-G {
    color: #FF42A5;

}

.nav-items {
    display: flex;
    justify-content: space-around;
    padding-right: 240px;
    text-decoration: none;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
}

.icons-section {
    width: 8%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    border-radius: 8px;
    /* background: rgba(11, 2, 35, 0.10); */
}

/* nav section ends here */
.banner-section {
    /* width: 901px;
    height: 700px; */
    display: flex;

}

.banner-content {
    width: 701px;
    height: 500px;
    /* text-align: center; */
    padding: 148px 240px;
    margin-left: 50px;

}

.banner-content h3 {
    color: #0B0223;
    font-size: 48px;

}

.banner-content h1 {
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    padding-top: 10px;
}

.banner-btn {
    padding-top: 20px;
    /* gap: 50px; */
}

.btn-primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
}

.btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-img img {
    width: 701px;
    height: 650px;
    padding-right: 240px;
}

/* banner section ends here */
.online-games-container {
    width: 100%;
    height: 700px;
    background: #FFF;
}

.online-games-content {
    text-align: center;
    margin-top: 100px;
}

.online-games-content h2 {
    color: #0B0223;
    font-size: 48px;
    padding-bottom: 12px;

}
.online-games-content p {
    padding-bottom: 20px;
}

#funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}

.games-img {
    
    width: 80%;
    
    display: flex;
    padding: 0 100px;

    gap: 24px;
    padding-top: 20px;

}

.games-img p {
    padding-top: 10px;
}
.games-img img {
    size: 10%
}

/* online-games-container end here */
.free-play-container {
    padding: 0px 140px;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    margin-bottom: 0;
}

.free-play-content {
    text-align: center;
    padding-top: 190px;
    margin-left: 0px;
    /* align-items: center; */

}

.free-play-title {
    color: #0B0223;
    font-size: 20px;
    padding-bottom: 10px;
    

}

#half-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#half-title-1 {
    
}

.free-play-content-img {
padding-left: 150px;
}
.badge-img{
    
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 350px;
    right: 200px;
    
}

/* free play container ends here */
.games-container {
    height: 300px;
    padding-left: 50px;
}

.games-icon-name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);


}

.games-icon-name div {
    /* width: 262px;
    height: 80px; */
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding: 40px 40px;

}

#five-game {
    gap: 7px;
}

#four-game {
    gap: 7px;
    padding-left: 150px;
    text-align: center;
}

.games-icon-name div:hover {
    width: 150px;
    height: 40px;
    color: brown;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: #FFF;
}

/* games container ends here */
footer {
    height: 500px;
    
   
    background: #0B0223;
    color: #FFF;
    text-align: center;

}

.foot-gamer {
    padding-top: 100px;
    display: flex;
    margin-left: 700px;
    padding-bottom: 20px;
    align-items: center;

}

#amer {
    color: wheat;
}

.other-items ul {
    display: flex;
    margin-left: 400px;
    gap: 60px;
    padding-bottom: 20px;
    align-items: center;


}

.other-items a {
    text-decoration: none;
    color: #FFF;
}

.sponsor img {
    width: 30px;
    height: 30px;
    padding: 30px;
    padding-bottom: 30px;
    align-items: center;
    padding-left: 100px;


}
.sponsor button{
    border-radius: 30%;
    text-align: center;
    background-color: #534C64;
    width: 150px;
}

.security ul {
    display: flex;
    margin-left: 400px;
    gap: 60px;
    padding-bottom: 20px;
    align-items: center;
    padding-top: 10px;
}

.security a {
    text-decoration: none;
    color: #FFF;
}

.copy {
    padding-top: 10px;
    margin-left: 0px;
    align-items: center;
}



/* footer div{
    display: flex;
    gap: 20px;
    text-align: center;
}
 .foot-gamer{
    padding: 100px 835px;

    
}
.other-items {
    padding-left: 563px;
}

.sponsor {
    width: 40px;
    height: 40px;
    padding-left: 1000px;
}
.security ul{
    display: flex;
    padding-left: 920px;

} */